# general  modules
django == 5.2
python-decouple
Pillow
djangorestframework
psycopg2-binary

# third party modules
markdown       
django-filter  
drf-yasg[validation]
djangorestframework-simplejwt
djoser
django-cors-headers



# refactoring and tests
black
flake8
pytest
pytest-django
Faker


# background proccess and cache
celery
redis
django-redis
django-celery-beat


# deployment module
gunicorn